.autocomplete {
  position: relative;
}

.autocomplete .input {
  margin-bottom: 4px;
}

.spinner {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
}

.option {
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.option.active {
  background-color: antiquewhite;
}
